@font-face {
  font-family: "Hermeus";
  src: url("./static/hermeus.woff2") format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

:root {
  --yellow: rgb(253, 217, 49);
  --yellow-faded: rgba(253, 217, 49, 0.5);
  --grid-line-width: 1px;
  --grid-size: 40px;

  /* Used mainly for yellow accent box on the left side */
  --box-width: 40px;

  /* Represents pixel values but need to be numbers for calc() to work */
  --max-display-width: 2880;
  --min-display-width: 320;
  --diff-display-width: calc(
      var(--max-display-width) - var(--min-display-width)
    );

  --font-small: calc(17px
      + 20 * ((100vw - 320px)/var(--diff-display-width))
    );
  --font-medium: calc(30px
    + 50 * ((100vw - 320px)/var(--diff-display-width))
  );
  --font-large: calc(40px
      + 30 * ((100vw - 320px)/var(--diff-display-width))
    );

  --circle-size: var(--font-medium);
  --ring-width: 4px;
  --ring-adjust: calc(2px*1);
  --ring-size: calc(
      var(--ring-adjust)
    + var(--circle-size)
    - 2*var(--ring-width));
}

body {
  font-family: "Hermeus", "Contrail One", sans-serif;

  background-size: var(--grid-size) var(--grid-size);
  background-image:
    linear-gradient(to right,
      var(--yellow-faded) var(--grid-line-width),
      transparent var(--grid-line-width)),
    linear-gradient(to bottom,
      var(--yellow-faded) var(--grid-line-width),
      transparent var(--grid-line-width));
}

h1 {
  font-size: var(--font-large);
  text-align: center;
}

.App {
  /* Decreasing height from 100vh to 80vh to get rid of vertical overflow on
  mobile browser */
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Animation {
  display: flex;
  flex-direction: column;

  min-width: 60%;
}

@media (max-width: 1024px) {
  .Animation {
    min-width: 95%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.center {
  justify-content: center;
}

.sansSerif {
  font-family: sans-serif;
}

.animationBox {
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
}

.planeName {
  font-size: var(--font-small);
}

.tripCounter {
  font-size: var(--font-small);
  /* Force contents to be one line. */
  white-space: nowrap;
}

.yellowBox {
  height: 100%;
  width: 5vw;
  background-color: var(--yellow);
}

.box {
  height: 100%;
  width: 5vw;
}

.cityLabel {
  height: 100%;
  font-size: var(--font-medium);
}


.circle {
  background-color: rgb(63, 63, 63);
  margin: calc(var(--ring-adjust) / 2);
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  z-index: 1;
}

.ring {
  width: var(--ring-size);
  height: var(--ring-size);
  border-radius: 50%;
  border-color: var(--yellow);
  border-width: var(--ring-width);
  border-style: solid;
  z-index: 0;
}

.button {
  background-color: var(--yellow);
  font-size: 40px;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  border-style: solid;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
