@font-face {
  font-family: "Hermeus";
  src:
  url("./static/hermeus.ttf") format("truetype"),
  url("https://static.wixstatic.com/ufonts/d797a1_18ec62f89d9a46f48a4169d8b0ea0fea/woff2/file.woff2") format("woff2");
}

:root {
  --yellow: rgb(253, 217, 49);
  --yellow-faded: rgba(253, 217, 49, 0.5);
  --grid-line-width: 1px;
  --grid-size: 40px;

  --circle-size: 40px;
  --ring-width: 4px;
  --ring-size: calc(var(--circle-size) - 2*var(--ring-width));

  /* Used for yellow accent box on the left side */
  --box-width: 40px;

  --font-small: 30px;
  --font-medium: 50px;
  --font-large: 60px;
}

body {
  font-family: Hermeus;

  background-size: var(--grid-size) var(--grid-size);
  background-image:
    linear-gradient(to right,
      var(--yellow-faded) var(--grid-line-width),
      transparent var(--grid-line-width)),
    linear-gradient(to bottom,
      var(--yellow-faded) var(--grid-line-width),
      transparent var(--grid-line-width));
}

h1 {
  font-size: var(--font-large);
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.App {
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Animation {
  display: flex;
  flex-direction: column;

  min-width: 50%;
}

  border-width: 4px;
  border-style: dotted;
  border-color: green;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.animationBox {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.planeName {
  font-size: var(--font-small);
  max-width: 20vw;
}

.planeName {
  white-space: nowrap;
}

.yellowBox {
  height: var(--font-small);
  width: var(--box-width);
  background-color: var(--yellow);
}

.box {
  height: var(--font-medium);
  width: var(--box-width);
}

.cityLabel {
  height: 100%;
  font-size: var(--font-medium);
  margin: 0px;
  padding: 0px;
}


.circle {
  background-color: gray;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  z-index: 0;
}

.ring {
  width: var(--ring-size);
  height: var(--ring-size);
  border-radius: 50%;
  border-color: var(--yellow);
  border-width: var(--ring-width);
  border-style: solid;
  z-index: 1;
}
